html,
body {
  font: small-caps 15px Verdana;
  grid-gap: 10px;
  background-image: url("sky.jpg");

}
  .map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  /* charts style */
  .jumbotron {
    color: #dbd5c3;
    background-color: rgb(17, 17, 24);
    background-size: 100%  100%;
    text-shadow: 2px 2px 2px #08070c2c;
    text-align: center;
    font-family: Arial;
  }

.panel-body {
  color: #dbd5c3;
  background-color: rgb(17, 17, 24);
  background-size: 50%  50%;
  font-family: Arial;
  text-align: center;
  }