html,

/* Style page body */
body {
  font: small-caps 15px Verdana;
  grid-gap: 10px;
  background-image: url("sky.jpg");

}

/* Style Jumbotron */
.jumbotron {
  color: #dbd5c3;
  background-color: rgb(17, 17, 24);
  background-size: 100%  100%;
  text-align: center;
  font-family: Sans-serif;
}

/* Style year-data panel */
.panel {
  color: rgb(17, 17, 24);
  background-color: #ffffff;
  background-size: 75%  75%;
  font-family: 'Sans-serif';
}

/* Style panel body */
.panel-body {
  color: #dbd5c3;
  background-color: rgb(17, 17, 24);
  background-size: 75%  75%;
  font-family: Sans-serif;
  text-align: center;
}